body {
	background: linear-gradient(to right, #8e2de2, #4a00e0);
	font-family: 'Montserrat', sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
	position: relative;
	height: 100vh;
	width: 100%;
	overflow-x: hidden;
}

#menuPanel, #historyList, #howToPanel, #optionsPanel, #messageBox {
	position: absolute;
	left: 65%;
	top: 60%;
	transform: translate(-50%, -50%);
	width: 500px;
}

#gameArea {
	position: absolute;
	top: 55%;
	left: 50%;
	width: 100%;
	height: 100%;
}

#gameCanvas {
	width: 100%;
	height: 100%;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.panel {
	justify-content: center;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 10px;
	padding: 15px;
	width: 80%;
	max-width: 500px;
}

.panel-top {
	text-align: center;
	background-color: #6200ea;
	color: #fff;
	font-weight: bold;
	padding: 10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.panel-bottom {
	justify-content: center;
	padding: 10px;
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.option {
	margin-bottom: 15px;
}

input[type=button] {
	background-color: #6200ea;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 10px 20px;
	font-size: 14px;
	font-family: 'Montserrat';
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-top: 10px;
}

input[type=button]:hover {
	background-color: #3700b3;
}

.styled-select select {
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #fff;
	transition: border-color 0.3s ease;
	width: 100%;
	box-sizing: border-box;
}

.styled-select select:focus {
	border-color: #6200ea;
	outline: none;
}

#backPanel {
	display: flex;
	position: absolute;
	right: 10%;
	transform: translate(0, 0);
	width: 150px;
	top: 15rem;
}

#historyPanel {
	display: flex;
	position: absolute;
	left: 8%;
	top: 15rem;
	transform: translate(0, 0);
	width: 150px;
	justify-content: center;
}

.alpha-panel {
	left: 50%;
	width: 150px;
	position: absolute;
	top: 50%;
}

.beta-panel {
	right: 10%;
	width: 150px;
	position: absolute;
	top: 50%;
}

.history-list, .how-to-panel, .options-panel {
	width: 80%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
